/* FUENTE DEL PROYECTO */
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* VARIABLES */
:root {
  --Red-500: hsl(1, 90%, 64%);
  --Blue-950: hsl(219, 85%, 26%);

  --White: hsl(0, 100%, 100%);
  --Navy-50: hsl(210, 60%, 98%);
  --Blue-100: hsl(211, 68%, 94%);
  --Navy-100: hsl(205, 33%, 90%);
  --Gray-500: hsl(219, 14%, 63%);
  --Gray-600: hsl(219, 12%, 42%);
  --Navy-950: hsl(224, 21%, 14%);
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* ===== ESTILOS COMUNES ===== */
body{
    display: flex;
    flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  background-color: var(--White);
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 7px;
  padding: 25px 20px;
}

.text-header {
  font-size: 1.3rem;
  font-weight: 900;
}

.span-mount {
  font-weight: 600;
  background-color: var(--Blue-950);
  color: var(--White);
  padding: 3px 11px;
  border-radius: 5px;
}

.mark-read {
  background-color: transparent;
  margin-left: auto;
  border: none;
  font-size: .9rem;
  font-weight: 700;
  color: var(--Gray-600);
}

.body {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card {
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  gap: 10px;
}

.card.not-read {
  background-color: var(--Navy-50);
}

.profile,
.box-imageClub {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
}

.image-profile,
.image-club {
  width: 100%;
  height: 100%;
}

.image-club {
  border-radius: 5px;
}

.data-text {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex: 1;
}

.data-text.Text {
  flex-direction: column;
}

.user-name {
  font-size: 1rem;
  font-weight: 900;
}

.name {
  color: var(--Navy-950);
}

.type-post {
  font-size: .9rem;
  font-weight: 500;
  color: var(--Gray-500);
  margin: 0 7px;
}

.title-post {
  font-size: .93rem;
  color: var(--Gray-600);
}

.club {
  color: var(--Blue-950);
}

.point {
  display: inline-block;
  margin: 0 5px 1px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: var(--Red-500);
}

.time-post {
  color: var(--Gray-500);
  font-weight: 500;
}

.message-post {
  color: var(--Gray-600);
  padding: 1rem;
  border-radius: 5px;
}

/* ===== MOBILE ===== */
@media (max-width: 600px) {
  .container {
    min-width: 100%;
    min-height: 100%;
    align-items: center;
  }

  .message-post {
    border: 1px solid var(--Gray-500);
  }
}

/* ===== DESKTOP ===== */
@media (min-width: 601px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Navy-50);
    padding: 5rem;
  }

  .container {
    width: 60vw;
    border-radius: .5rem;
  }

  .mark-read:hover,
  .name:hover,
  .title-post:hover,
  .club:hover {
    color: var(--Blue-950);
    cursor: pointer;
  }

  .message-post {
    border: 1px solid var(--Navy-100);
  }

  .message-post:hover {
    background-color: var(--Navy-100);
    cursor: pointer;
  }
}
